header {
  position: fixed;
  z-index: 10;
  height: 70px;
  width: 100%;
  background-color: $green;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;

  a {
    color: white !important;
    text-decoration: none;
  }
  
  span {
    font-size: $ms-size;
  }

 
}