/**********
* COLOURS *
***********/

$green: rgba(14, 33, 32, 0.735);
$background: #c9a365;
$foot: rgb(145, 165, 128);

/*************
* FONT SIZES *
*************/
$xxs-size: 18px;
$xs-size: 23px;
$s-size: 26px;
$sm-size: 28px;
$m-size: 28px;
$ms-size: 28px;
$ml-size: 29px;
$l-size: 32px;
$xl-size: 42px;
$xxl-size: 54px;