/**********
* COLOURS *
***********/

$green: rgba(0, 0, 0, 0.735);
$background: #2d681400;
$foot: #2d681400;

/*************
* FONT SIZES *
*************/
$xxs-size: 18px;
$xs-size: 23px;
$s-size: 26px;
$sm-size: 28px;
$m-size: 28px;
$ms-size: 28px;
$ml-size: 29px;
$l-size: 32px;
$xl-size: 42px;
$xxl-size: 54px;