/**********
* COLOURS *
***********/

$green: rgba(14, 33, 32, 0.735);
$background: #e4be80;
$foot: #3a7952f5;

/*************
* FONT SIZES *
*************/
$xs-size: 22px;
$s-size: 26px;
$sm-size: 28px;
$m-size: 28px;
$ms-size: 28px;
$ml-size: 29px;
$l-size: 32px;
$xl-size: 42px;
$xxl-size: 54px;